<configuration>

    <appender name = "ConsoleAppender" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name = "FileAppender" class = "ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
        <file>
            learnApi.log
        </file>
    </appender>

    <root level = "INFO">
        <appender-ref ref = "ConsoleAppender" />
        <appender-ref ref = "FileAppender" />
    </root>

</configuration>